.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    width: 200px;
    border: 1px solid black;
    border-radius: 25px;
}

.text{
    margin: 10px
}

.toolBar{

}

.tags{
    display: flex;
    justify-content: space-between;
}

.tag{
    border-radius: 5px;
    background-color: #61dafb;
}

.edit{
    opacity: 0
}

.edit:hover{
    opacity: 1
}

.highlight{
    color: #61dafb;
}